.editor .card h2:hover,
.editor .card h3:hover,
.editor .card hr:hover,
.editor .card p:hover,
.editor .card h1:hover,
.editor .card ul li:hover {
  border: solid #a3b18a 2px;
  cursor: pointer;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #344e41 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
.off {
  top: -200vh;
  opacity: 0;
}
.document {
  transition: scale 0.1s ease-in-out;
}
