.editor .card h2:hover,
.editor .card h3:hover,
.editor .card hr:hover,
.editor .card p:hover,
.editor .card h1:hover,
.editor .card ul li:hover {
  border: solid #a3b18a 2px;
  cursor: pointer;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: radial-gradient(farthest-side, #3a5a40 95%, #0000) 50% 0/12px 12px
      no-repeat,
    radial-gradient(
        farthest-side,
        #0000 calc(100% - 5px),
        #a3b18a calc(100% - 4px)
      )
      content-box;
  animation: l6 2s infinite;
}
@keyframes l6 {
  to {
    transform: rotate(1turn);
  }
}

.off {
  top: -200vh;
  opacity: 0;
}
