.container {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}
h1,
h2,
h3 {
  color: #333;
}
h1 {
  margin-top: 0;
}

.section ul {
  list-style-type: none;
  padding: 0;
}
.header h1,
.header h3 {
  white-space: nowrap;
  overflow: hidden;
}
.parent_input:has(input:focus)::before {
  /* CSS properties for the before pseudo-element when input is focused */
  /* For example, you can set the scale to 100% to make it visible */
  transform: scaleX(1);
  opacity: 1;
}
.parent_input::before {
  /* CSS properties for the before pseudo-element when input is focused */
  /* For example, you can set the scale to 100% to make it visible */
  transform: scaleX(0);
  opacity: 0;
}
