.edit_menu {
  opacity: 0;
  visibility: hidden;
  left: 80%;
  top: 0%;
  transition: 150ms ease-in-out all 300ms;
  z-index: -1;
}

.context_menu:hover .edit_menu {
  left: 104%;
  visibility: visible;
  opacity: 1;
}
.context_menu:hover .edit_arrow {
  right: 0.25rem;
}

.color_btn:hover .color_arrow {
  right: 0.25rem;
}
.color_btn:hover .color_menu {
  left: 104%;
  visibility: visible;
  opacity: 1;
}
.color_menu {
  opacity: 0;
  left: 80%;
  visibility: hidden;
  top: 0%;
  transition: 150ms ease-in-out all 300ms;
  z-index: -2;
}
.font_btn:hover .font_arrow {
  right: 0.25rem;
}
.font_btn:hover .font_menu {
  left: 104%;
  visibility: visible;
  opacity: 1;
}
.font_menu {
  opacity: 0;
  left: 80%;
  visibility: hidden;
  top: 0%;
  transition: 150ms ease-in-out all 300ms;
  z-index: -3;
}
.weight_btn:hover .weight_arrow {
  right: 0.25rem;
}
.weight_btn:hover .weight_menu {
  left: 104%;
  visibility: visible;
  opacity: 1;
}
.weight_menu {
  opacity: 0;
  left: 80%;
  visibility: hidden;
  top: 0%;
  transition: 150ms ease-in-out all 300ms;
  z-index: -3;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .custom-radio {
    @apply appearance-none cursor-pointer text-[length:inherit] transition-all duration-300;
    --s: 1em;
    --c: #009688;
    height: var(--s);
    width: var(--s);
    border: calc(var(--s) / 8) solid #939393;
    padding: calc(var(--s) / 8);
    border-radius: 50%;
    outline-offset: calc(var(--s) / 10);
    background-image: radial-gradient(
      farthest-side,
      var(--c) 94%,
      transparent 0
    );
    background-position: 50%;
    background-size: 0 0;
    background-repeat: no-repeat;
  }

  .custom-radio:checked {
    @apply border-[color:var(--c)];
    background-size: 100% 100%;
  }

  .custom-radio:disabled {
    @apply opacity-50 cursor-not-allowed;
    background-image: linear-gradient(#939393 0 0);
    background-size: 100% 20%;
  }
}

.loadMenuList::-webkit-scrollbar-track {
  background: #3a5a40; /* Background color for the scrollbar track */
}

/* Styles the scrollbar itself */
.loadMenuList::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Styles the scrollbar thumb (the draggable part) */
.loadMenuList::-webkit-scrollbar-thumb {
  background-color: #a3b18a; /* Scrollbar color */
}

/* Changes the scrollbar thumb color on hover */
.loadMenuList::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #89976e; /* Scrollbar color */
}
