.checkbox-wrapper-23 *,
.checkbox-wrapper-23 *:after,
.checkbox-wrapper-23 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-23 input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-23 input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-23 input:focus + label {
  transform: scale(1.03);
}

.checkbox-wrapper-23 input + label {
  display: block;
  border: 2px solid #3a5a40;
  width: var(--size);
  height: var(--size);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox-wrapper-23 input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.checkbox-wrapper-23 input + label svg {
  pointer-events: none;
  padding: 5%;
}

.checkbox-wrapper-23 input + label svg path {
  fill: none;
  stroke: #3a5a40;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}
.checkbox-wrapper-20 *,
.checkbox-wrapper-20 *:after,
.checkbox-wrapper-20 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-20 input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-20 input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-20 input:focus + label {
  transform: scale(1.03);
}

.checkbox-wrapper-20 input + label {
  display: block;
  border: 2px solid #3a5a40;
  width: var(--size);
  height: var(--size);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox-wrapper-20 input + label:active {
  transform: scale(1.05);
  border-radius: 12px;
}

.checkbox-wrapper-20 input + label svg {
  pointer-events: none;
  padding: 5%;
}

.checkbox-wrapper-20 input + label svg path {
  fill: none;
  stroke: #3a5a40;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}
@property --myColor1 {
  syntax: "<color>";
  initial-value: #a3b18a;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: #344e41;
  inherits: false;
}
.selectEle {
  /* Optional: change initial value of the variables */
  /* --myColor1: #f64; --myColor2: brown; */

  background: linear-gradient(45deg, var(--myColor1), var(--myColor2));
  transition: --myColor1 0.7s 0.1s ease-in-out, --myColor2 0.5s ease-in-out;
}

.selectEle:hover {
  --myColor1: #344e41;
  --myColor2: #a3b18a;
}
.ExpSection::-webkit-scrollbar-track {
  background: #3a5a40; /* Background color for the scrollbar track */
}

/* Styles the scrollbar itself */
.ExpSection::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Styles the scrollbar thumb (the draggable part) */
.ExpSection::-webkit-scrollbar-thumb {
  background-color: #a3b18a; /* Scrollbar color */
}

/* Changes the scrollbar thumb color on hover */
.ExpSection::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #89976e; /* Scrollbar color */
}
.CertSection::-webkit-scrollbar-track {
  background: #3a5a40; /* Background color for the scrollbar track */
}

/* Styles the scrollbar itself */
.CertSection::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Styles the scrollbar thumb (the draggable part) */
.CertSection::-webkit-scrollbar-thumb {
  background-color: #a3b18a; /* Scrollbar color */
}

/* Changes the scrollbar thumb color on hover */
.CertSection::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #89976e; /* Scrollbar color */
}

.EduSection::-webkit-scrollbar-track {
  background: #3a5a40; /* Background color for the scrollbar track */
}

/* Styles the scrollbar itself */
.EduSection::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Styles the scrollbar thumb (the draggable part) */
.EduSection::-webkit-scrollbar-thumb {
  background-color: #a3b18a; /* Scrollbar color */
}

/* Changes the scrollbar thumb color on hover */
.EduSection::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #89976e; /* Scrollbar color */
}

.skillsSec::-webkit-scrollbar-track {
  background: #3a5a40; /* Background color for the scrollbar track */
}

/* Styles the scrollbar itself */
.skillsSec::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Styles the scrollbar thumb (the draggable part) */
.skillsSec::-webkit-scrollbar-thumb {
  background-color: #a3b18a; /* Scrollbar color */
}
/* Changes the scrollbar thumb color on hover */
.skillsSec::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #89976e; /* Scrollbar color */
}
/* Changes the scrollbar thumb color on hover */
.ProjSection::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #89976e; /* Scrollbar color */
}
.ProjSection::-webkit-scrollbar-track {
  background: #3a5a40; /* Background color for the scrollbar track */
}

/* Styles the scrollbar itself */
.ProjSection::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Styles the scrollbar thumb (the draggable part) */
.ProjSection::-webkit-scrollbar-thumb {
  background-color: #a3b18a; /* Scrollbar color */
}
/* Changes the scrollbar thumb color on hover */
.ProjSection::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #89976e; /* Scrollbar color */
}
.file-input-wrapper input[type="file"] {
  display: none;
}
.file-input-wrapper {
  max-width: 100%;
  overflow: hidden;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: 100%;
}

.file-upload-text {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.custom-file-upload.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type="file"]:disabled + .custom-file-upload {
  pointer-events: none;
}
